/* Estilos para todas as telas */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-toggler {
    order: 1;
  }
  
  .navbar-brand {
    order: 2;
  }
  
  .navbar-collapse {
    order: 3;
  }
  
  /* Estilos para telas pequenas */
  @media (max-width: 768px) {
    .navbar-brand,
    .navbar-collapse {
      position: static;
      transform: none;
    }
  }
  
  /* Estilos para telas maiores */
  @media (min-width: 769px) {
    .navbar-toggler {
      display: none;
    }
    .navbar-brand {
      position: relative;
      left: auto;
      transform: none;
    }
  }
  